{% if classR|length > 0 %}
        <form action="{% url 'map:addClass' %}" method="post">
                {% csrf_token %}
                <ul class="list-group overflow-auto">
                {% for class in classR %}
                   <li class="list-group-item d-flex">
                           <div class="p-2 flex-grow-1">
                                   <p>{{class}}</p>
                                   {{class.class_room }}
                           </div>
                           <div class="p-2 bd-highlight">
                                   <button type="submit" name='add-class' class="btn btn-primary">Add Class</button>
                                   <button id="add-marker" name='add-marker' class="btn btn-success">Show On Map</button>
                           </div>
                   </li>
                {% endfor %}
                </ul>
        </form>
{% else %}
        <p>No results found</p>
{% endif %}