{% if classR|length > 0 %}
        <form action="{% url 'map:addClass' %}" method="post">
                {% csrf_token %}
                <ul>
                {%for class in classR%}
                   <li class="list-group-item d-flex bd-highlight">
                           <div class="p-2 flex-grow-1 bd-highlight">{{class}}</div>
                           <div class="p-2 bd-highlight"><button type="submit" name='add' value='add' class="btn btn-primary">Add Class</button></div>
                   </li>

                {% endfor %}
                </ul>
        </form>
{% else %}
        <p>No results found</p>
{% endif %}