{% load search_list %}
{% if classR|length > 0 %}
        <script>
                searchClick = function(e) {
                    console.log("Pin button clicked");
                    var value = $(this).attr("value");
                    // Convert from string to int array
                    let split = value.split(/[\[\], ]/);
                    let coords = [parseFloat(split[1]), parseFloat(split[3])];
                    var name = $(this).attr("name");
                    //var time = $(this).attr("time");
                    //console.log(coords);

                    if (!isNaN(coords[0]) && !isNaN(coords[1])) {
                        // make a marker for each feature and add to the map
                        var marker = new mapboxgl.Marker({color: "#ff0000"})
                          .setLngLat(coords)
                          .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                              .setHTML('<p style = "color:black">' + name + '</p>'))

                        var i;
                        for (i = 0; i < allMarkers.length; i++) {
                            if (allMarkers[i].getLngLat().toString() === marker.getLngLat().toString()) {
                                // The marker is in the array
                                console.log("Marker is already in the map");
                                return; // exit the function
                            }
                        }

                        marker.addTo(map);
                        map.flyTo({center: coords, zoom: 17});

                        marker.getElement().addEventListener('contextmenu', function(e) {
                            marker.remove();
                            allMarkers.splice(allMarkers.indexOf(marker), 1);
                            console.log("Removed marker");
                        });

                        allMarkers.push(marker);
                        console.log("Marker added");
                    }
                }

                editSchedule = function(e) {
                    e.preventDefault();

                    console.log("Editing classes");
                    $.ajax({
                        url: $(this).attr('action'),
                        method: $(this).attr('method'),
                        data: $(this).serialize(),
                        success: function(data){ $('#schedule-clist').html(data) }
                    });
                }

        </script>
        <style>
                ::-webkit-scrollbar {
                  width: 12px;               /* width of the entire scrollbar */
                }

                ::-webkit-scrollbar-track {
                  background: gray;        /* color of the tracking area */
                }

                ::-webkit-scrollbar-thumb {
                  background-color: #2b4764;    /* color of the scroll thumb */
                  border-radius: 12px;       /* roundness of the scroll thumb */
                  border: 3px solid #2b4764;  /* creates padding around scroll thumb */
        </style>
    <div id = "scrol">
        <ul class="list-group overflow-auto">
        {% for class in classR %}
           <li class="list-group-item d-flex">
                   <div class="p-2 flex-grow-1">
                           <p><b>{{class.class_title}}</b></p>
                           <p>{{class.class_name }}</p>
                           {{class.class_room }}
                   </div>
                   <div class="p-2 bd-highlight">
                           <div id="class-{{ class.class_id }}">
                                   {% if user.is_authenticated%}
                                           {% if class.in_schedule %}
                                                <a tabindex="0" id="add-class-button-{{ forloop.counter0 }}" type="button" class="btn btn-success" data-toggle="popover" data-trigger="focus" data-content="This class is already in your schedule!">Add Class</a>
                                                <script>
                                                        $('#add-class-button-{{ forloop.counter0 }}').popover().click(function () {
                                                            setTimeout(function () {
                                                                $('#add-class-button-{{ forloop.counter0 }}').popover('hide');
                                                            }, 1250);
                                                        });

                                                </script>
                                           {% else %}
                                                   <form id="add-class-form-{{ forloop.counter0 }}" action="{% url 'map:addClass' %}" method="post">
                                                           {% csrf_token %}
                                                           <input type="hidden" name="class-id" value="{{class.class_id}}">
                                                           <button type="submit" class="btn btn-success">Add Class</button>
                                                           <script>
                                                                   $('#add-class-form-{{ forloop.counter0 }}').on('submit', editSchedule);
                                                           </script>
                                                   </form>
                                           {% endif %}
                                   {% else %}
                                        <a tabindex="0" id="add-class-button-{{ forloop.counter0 }}1" type="button" class="btn btn-success" data-toggle="popover" data-trigger="focus" data-content="Login to add to schedule!">Add Class</a>
                                        <script>
                                                $('#add-class-button-{{ forloop.counter0 }}1').popover()
                                                $('.popover-dismiss').popover({
                                                  trigger: 'focus'
                                                })
                                        </script>
                                   {% endif %}
                           </div>
                            {% if class.class_loc_coords == None %}
                                 <button type="button" id="add-marker-{{ forloop.counter0 }}-none" data-toggle="popover" data-content="This class has no location"class="btn btn-info">Show On Map</button>
                                 <script>
                                    $('#add-marker-{{ forloop.counter0 }}-none').popover().click(function () {
                                        setTimeout(function () {
                                            $('#add-marker-{{ forloop.counter0 }}-none').popover('hide');
                                        }, 1500);
                                    });
                                 </script>
                            {% else %}
                                 <button type="button" id="add-marker-{{ forloop.counter0 }}" value="{{class.class_loc_coords}}" name='{{ class.class_name }}' class="btn btn-info">Show On Map</button>
                                 <script>
                                    $('#add-marker-{{ forloop.counter0 }}').on('click', searchClick);
                                 </script>
                            {% endif%}

                   </div>
           </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
        <p>No results found</p>
{% endif %}