{% load crispy_forms_tags %}
{% load check_date %}

    <h3>Host your own event</h3>
    {% if user.is_authenticated %}
        <div id="make-event-modals">
            <!-- From Bootstrap's docs -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makeEventModal">
              Create Event
            </button>
            <br>
            <br>

            <!-- Modal -->
            <div class="modal fade" id="makeEventModal" tabindex="-1" role="dialog" aria-labelledby="makeEventModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="createNewEventModal">Create New Event</h5>
                  </div>
                      <form action="{% url 'map:makeEvent' %}" id="make-event-form" method="post">
                          {% csrf_token %}
                          <div class="modal-body">
                              <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                                Title<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="title" maxlength="50" class="textinput textInput form-control" required="" id="id_title"> </div> </div> <div id="div_id_location" class="form-group"> <label for="id_location" class=" requiredField">
                                Location<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="location" maxlength="200" class="textinput textInput form-control" required="" id="id_location"> </div> </div> <div id="div_id_date" class="form-group"> <label for="id_date" class=" requiredField">
                                Date<span class="asteriskField">*</span> </label> <div class=""> <input type="datetime-local" name="date" class="datetimeinput form-control" required="" id="id_date"> </div> </div> <div id="div_id_capacity" class="form-group"> <label for="id_capacity" class=" requiredField">
        <!--                    Date<span class="asteriskField">*</span> </label> <div class=""> <input type="date" name="date" class="datetimeinput form-control" required="" id="update-id_date"> </div> </div> <div id="update-div_id_capacity" class="form-group"> <label for="update-div_id_capacity" class=" requiredField">-->
        <!--                    Time<span class="asteriskField">*</span> </label> <div class=""> <input type="time" name="time" class="datetimeinput form-control" required="" id="update-id_time"> </div> </div> <div id="update-div_id_capacity" class="form-group"> <label for="update-div_id_capacity" class=" requiredField">-->
                                Capacity<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="capacity" min="0" class="numberinput form-control" required="" id="id_capacity"> </div> </div> <div id="div_id_description" class="form-group"> <label for="id_description" class=" requiredField">
                                Description<span class="asteriskField">*</span> </label> <div class=""> <textarea name="description" cols="40" rows="10" style="height: 100px;" maxlength="200" class="textarea form-control" required="" id="id_description"></textarea> </div> </div>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-success" >Create Event</button>
                              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                          </div>
                          <script>
                              $('#make-event-form').on('submit', function(e) {
                                  e.preventDefault();

                                  console.log("Make new event fired");
                                  $.ajax({
                                      url: $(this).attr('action'),
                                      method: $(this).attr('method'),
                                      data: $(this).serialize(),
                                      success: function(data){
                                        // Close the form modal
                                        $('#makeEventModal').modal('toggle');
                                        // Display the result modal
                                        $('#result-modal-text').html(data);
                                        $('#resultModal').modal('toggle');
                                      }
                                  });
                              });
                          </script>
                      </form>

                </div>
              </div>
            </div>

            <!-- Second Modal to give the user the results of the form -->
            <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title" id="result-modal-text">
                        <!-- Replaced by the results of the make event form -->
                    </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script>
            // Updates the event list after creating the new event
            $('#resultModal').on('hide.bs.modal', function(e){
                $.ajax({
                    url: {% url 'map:eventList' %},
                    method: 'GET',
                    success: function(data){
                        console.log('Updated Event list');
                        $('#events-list').html(data);
                    }
                });
            });
        </script>

    {% else %}
        <p>Need to be logged in to make an event</p>
    {% endif %}

    <h1>Events</h1>
    {% if user.is_authenticated %}
    <p>Click to show public events hosted by you and others</p>

        <div id="events-list-section">
            <p>
                <button class='btn btn-secondary' type='button' data-target='#events-list' data-toggle='collapse' role="button" aria-expanded="false" aria-controls="#events-list">
                    Events
                </button>
            </p>
            <div class='collapse' id='events-list'>
                {% if eventsList %}
                <script>
                        addAttendee = function(a) {
                            a.preventDefault();

                            console.log("User would like to attend event");
                            $.ajax({
                                url: $(this).attr('action'),
                                method: $(this).attr('method'),
                                data: $(this).serialize(),
                                success: function(data){
                                    $('#events-list').html(data)
                                }
                            });
                        }
                        cancelAttendee = function(a) {
                            a.preventDefault();

                            console.log("User would like to cancel attending event");
                            $.ajax({
                                url: $(this).attr('action'),
                                method: $(this).attr('method'),
                                data: $(this).serialize(),
                                success: function(data){
                                    $('#events-list').html(data)
                                }
                            });
                        }
                        cancelEvent = function(a) {
                            a.preventDefault();

                            console.log("User would like to cancel hosting event");
                            $.ajax({
                                url: $(this).attr('action'),
                                method: $(this).attr('method'),
                                data: $(this).serialize(),
                                success: function(data){
                                    $('#events-list').html(data)
                                }
                            });
                        }
                    </script>
                    <ul class='list-group'>
                        {% for e in eventsList%}
                            {% if e.date|check_date %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-sm-6 text-center vertical">
                                            <b>{{e.title}}</b>
                                        </div>
                                        <div class="col col-sm-3 text-center vertical">
                                            <button class='btn btn-info' type='button' data-target='#details-{{forloop.counter0}}' data-toggle='collapse' role="button" aria-expanded="false" aria-controls="{{e.title}}-{{e.pk}}-details">
                                                Details
                                            </button>
                                        </div>

                                        <div class="col col-sm-3 text-center vertical">
                                            {% if e.host == user %}
                                                <form id="remove-event-{{ forloop.counter0 }}" action="{% url 'map:removeEvent' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="event" value="{{e.id}}">
                                                            <a class="btn btn-danger" href="#" onclick="$('#remove-event-{{ forloop.counter0 }}').submit();" type="submit">Cancel</a>
                                                    <script>
                                                            $('#remove-event-{{ forloop.counter0 }}').on('submit', cancelEvent);
                                                    </script>
                                                </form>
                                            {% elif e in user.attendees.all%}
                                                <form id="cancel-event-{{ forloop.counter0 }}" action="{% url 'map:cancelEvent' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="event" value="{{e.id}}">
                                                            <a class="btn btn-danger" href="#" onclick="$('#cancel-event-{{ forloop.counter0 }}').submit();" type="submit">Don't Attend</a>
                                                    <script>
                                                            $('#cancel-event-{{ forloop.counter0 }}').on('submit', cancelAttendee);
                                                    </script>
                                                </form>
                                            {% else %}
                                            <form id="attend-event-{{ forloop.counter0 }}" action="{% url 'map:attendEvent' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="event" value="{{e.id}}">
                                                        <a class="btn btn-success" href="#" onclick="$('#attend-event-{{ forloop.counter0 }}').submit();" type="submit">Attend</a>
                                                <script>
                                                        $('#attend-event-{{ forloop.counter0 }}').on('submit', addAttendee);
                                                </script>
                                            </form>
                                            {% endif %}
                                        </div>

                                    </div>

                                    <div id='details-{{forloop.counter0}}' class="collapse">
                                        <ul>
                                            {% if user == e.host %}
                                            <li>Host: <b>You</b> </li>
                                            {% else %}
                                            <li>Host: <b>{{e.host}}</b></li>
                                            {% endif %}
                                            <li>Location: <b>{{e.location}}</b> </li>
                                            <li>Date: <b>{{e.date}}</b></li>
<!--                                            <li>Time: <b>{{e.time}}</b></li>-->
                                            <li>Attendees: <span class="badge badge-primary badge-pill" id = "number-of-attendees">{{e.numberOfAttendees}}</span></li>
                                        </ul>
                                        <div class="row justify-content-md-center">
                                            {% if e.host == user %}
                                                <!-- Button trigger modal -->
                                                <button id="update-event-button-{{e.pk}}" type="button" class="btn btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#updateEventModal"
                                                        data-title="{{e.title}}"
                                                        data-location="{{e.location}}"
                                                        data-date="{{e.date}}"
<!--                                                        data-time="{{e.time}}"-->
                                                        data-capacity="{{e.capacity}}"
                                                        data-desc="{{e.description}}"
                                                        data-pk="{{e.pk}}"
                                                >
                                                Update Event
                                                </button>
                                                <script>
                                                    $('#update-event-button-{{e.pk}}').on('click', function() {
                                                        console.log("Update event {{e.title}} pressed");
                                                        $('#update-id_title').val($(this).data('title'));
                                                        $('#update-id_location').val($(this).data('location'));
                                                        $('#update-id_date').val($(this).data('date'));
                                                        // $('#update-id_time').val($(this).data('time'));
                                                        $('#update-id_capacity').val($(this).data('capacity'));
                                                        $('#update-id_description').val($(this).data('desc'));
                                                        $('#update-id_pk').val($(this).data('pk'));
                                                    });
                                                </script>

                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                <!-- Modal -->
                <div class="modal fade" id="updateEventModal" tabindex="-1" role="dialog" aria-labelledby="updateEventModalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="updateEventModalTitle">Update Event</h5>
                      </div>
                          <form action="{% url 'map:updateEvent' %}" id="update-event-form" method="post">
                              {% csrf_token %}
                              <div class="modal-body">
                                  <div id="update-div_id_title" class="form-group"> <label for="update-id_title" class=" requiredField">
                                    Title<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="title" maxlength="50" class="textinput textInput form-control" required="" id="update-id_title" value=""> </div> </div> <div id="update-div_id_location" class="form-group"> <label for="update-div_id_location" class=" requiredField">
                                    Location<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="location" maxlength="200" class="textinput textInput form-control" required="" id="update-id_location"> </div> </div> <div id="update-div_id_date" class="form-group"> <label for="update-div_id_date" class=" requiredField">
                                    Date<span class="asteriskField">*</span> </label> <div class=""> <input type="datetime-local" name="date" class="datetimeinput form-control" required="" id="update-id_date"> </div> </div> <div id="update-div_id_capacity" class="form-group"> <label for="update-div_id_capacity" class=" requiredField">
            <!--                    Date<span class="asteriskField">*</span> </label> <div class=""> <input type="date" name="date" class="datetimeinput form-control" required="" id="update-id_date"> </div> </div> <div id="update-div_id_capacity" class="form-group"> <label for="update-div_id_capacity" class=" requiredField">-->
            <!--                    Time<span class="asteriskField">*</span> </label> <div class=""> <input type="time" name="time" class="datetimeinput form-control" required="" id="update-id_time"> </div> </div> <div id="update-div_id_capacity" class="form-group"> <label for="update-div_id_capacity" class=" requiredField">-->

                                    Capacity<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="capacity" min="0" class="numberinput form-control" required="" id="update-id_capacity"> </div> </div> <div id="update-div_id_description" class="form-group"> <label for="update-div_id_description" class=" requiredField">
                                    Description<span class="asteriskField">*</span> </label> <div class=""> <textarea name="description" cols="40" rows="10" style="height: 100px;" maxlength="200" class="textarea form-control" required="" id="update-id_description"></textarea> </div> </div>
                                    <input type="hidden" name="id" id="update-id_pk">
                              </div>
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-success" >Update Event</button>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                              <script>
                                  $('#update-event-form').on('submit', function(e) {
                                      e.preventDefault();

                                      console.log("Update event fired");
                                      $.ajax({
                                          url: $(this).attr('action'),
                                          method: $(this).attr('method'),
                                          data: $(this).serialize(),
                                          success: function(data){
                                            // Close the form modal
                                            $('#updateEventModal').modal('toggle');
                                            // Display the result modal
                                            $('#result-modal-text').html(data);
                                            $('#resultModal').modal('toggle');
                                          }
                                      });
                                  });
                              </script>
                          </form>

                    </div>
                  </div>
                </div>

                {% else %}
                    No events yet...
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>Need to be logged in to see events</p>
    {% endif %}