<!DOCTYPE html>
<html lang="en">
{% load socialaccount %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  <h1>Campus Map Project</h1>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    <a href="{% url 'map:map' %}">Click here to checkout the map</a>
    <br>
    <a href = "{% url 'account_logout'%}"> Click here to logout</a>
  {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

  </body>
</html>