{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}

<!-- Redefine the title-->
{% block title %}Map{% endblock %}

{% block head %}
    <!-- MapBox map loads -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}


{% block loads %}
    <!-- Mapbox Geocoder API loads-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
{% endblock %}

{% block map %}
    <!-- From:https://docs.mapbox.com/mapbox-gl-js/api/ -->
    <div id='map'></div>
    <script>
        // Used to keep track of the markers
        var allMarkers = [];

        mapboxgl.accessToken = '{{ access_token }}';
        var resized = false;

        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/a-02/ckmb3agnj7w8i17qq9eqflzwj', // style URL
            center: {{ starting_coords }}, // starting position [lng, lat]
            zoom: 14, // starting zoom
            trackResize: true // Resize if the browser window size changes
        });

        // Fired after first load
        map.on('load', function() {
            map.resize();
            console.log('Map resized');
        });

    </script>
{% endblock %}
{% block schedule %}
{% if user.is_authenticated %}
        <p>Welcome, {{ user.username }} !</p>
        <a href = "{% url 'account_logout'%}"> Click here to logout</a>
        <ul>
            {% for class in user.schedule.all %}
                <li>{{class}}</li>
            {% endfor %}
        </ul>
{% endif %}
    <div id="schedule-instructions">
        To display information about each location on the map, left click its marker.
        To remove a marker, right click on it.
        Use the search box below to search for class or locations around UVA.
    </div>
    <!-- Builds from the ScheduleForm class -->
    <form action="{% url 'map:search' %}" id="location-search" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Search</button>
        <button type="reset" class="btn btn-secondary" onclick="document.getElementById('id_search').value = ''">Clear</button>

        <!-- From: https://stackoverflow.com/questions/17599035/django-how-can-i-call-a-view-function-from-template-->
        <!-- Using AJAX to load the data without refreshing the page -->
        <script>
            // This will pass the form action and hopefully reload the results div with the results
            $(function(){
                 $('form').on('submit', function(e){
                     e.preventDefault();

                     $.ajax({
                         url: $(this).attr('action'),
                         method: $(this).attr('method'),
                         data: $('form').serialize(), // serialize converts the form inputs into the url
                         success: function(data){ $('#results').html(data) }
                     });

                     // Resize the results page?
                     //$('#results .list-group').css({
                     //   'height: ' $('#schedule-col').height() - $('#location-search').height() + 'px;'
                     //});
                 });
                 $('form').on('reset', function(e){
                     e.preventDefault();

                     $.ajax({
                         success: function(data){
                            $('#results').html('')
                         }
                     });

                 });
            });
        </script>

    </form>

    <!-- To be overwritten by the search function-->
    <div id="results"></div>
{% endblock %}
