{% extends "base.html" %}
{% load socialaccount %}
<!-- Redefine the title-->
{% block title %}Map{% endblock %}

{% block head %}
    <!-- MapBox map loads -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content%}
    <!-- Mapbox Geocoder API loads-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <!-- From:https://docs.mapbox.com/mapbox-gl-js/api/ -->
    <div id='map' style='width: 1200px; height: 500px;'></div>
    <script>
        mapboxgl.accessToken = {{ }};

        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/a-02/ckmb3agnj7w8i17qq9eqflzwj', // style URL
            center: {{ starting_coords }}, // starting position [lng, lat]
            zoom: 14 // starting zoom
        });

        // Adds the search bar on the map
        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            })
        );
    </script>
{% endblock %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    <a href = "https://campusmapa-02.herokuapp.com/accounts/logout"> Click here to logout</a>
{% endif %}