{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}

<!-- Redefine the title-->
{% block title %}Map{% endblock %}

{% block head %}
    <!-- MapBox map loads -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}


{% block loads %}
    <!-- Mapbox Geocoder API loads-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
{% endblock %}

{% block map %}
    <!-- From:https://docs.mapbox.com/mapbox-gl-js/api/ -->
    <div id='map'></div>
    <script>
        // Used to keep track of the markers
        var allMarkers = [];

        mapboxgl.accessToken = '{{ access_token }}';
        var resized = false;

        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/a-02/ckmb3agnj7w8i17qq9eqflzwj', // style URL
            center: {{ starting_coords }}, // starting position [lng, lat]
            zoom: 14, // starting zoom
            trackResize: true // Resize if the browser window size changes
        });

        // Add the directions controls
        map.addControl(
            new MapboxDirections({
                accessToken: mapboxgl.accessToken,
                interactive: false,
                geocoder: {
                    bbox: '-78.526434,38.028392,-78.475622,38.055975',
                    proximity: [-78.510067, 38.038124]
                },
                controls: {
                    input: true,
                    instructions: false,
                    profileSwitcher: true
                }
            }),
            'top-left'
        );

        // Add device GPS location
        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );

        // Fired after first load
        map.on('load', function() {
            map.resize();
            console.log('Map resized');
        });

    </script>
{% endblock %}
{% block schedule %}
    <nav class = "navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class = "container-fluid">
            <ul class = "navbar-nav ml-auto">
                <script>
                    // Updates the event list after creating the new event
                    updateSidebar = function(urlToFind){
                        $.ajax({
                            url: urlToFind,
                            method: 'GET',
                            success: function(data){
                                console.log('Updating sidebar');
                                $('#showSchedule').html(data);
                            }
                        });
                    };
                </script>
                <li class= "nav-item" >
                    <a class ="nav-link" href="#"onclick="updateSidebar({% url 'map:schedulePage'%})">Schedule</a>
                </li>
                <li class= "nav-item" >
                    <a class ="nav-link" href="#" onclick="updateSidebar({% url 'map:eventsPage'%})">Events</a>
                </li>
                <li class = "nav-item">
                    {% if user.is_authenticated %}
                        <a class = "nav-link" href = "{% url 'account_logout'%}">Logout</a>
                    {% else %}
                        <a class = "nav-link" href="{% provider_login_url 'google' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <div id = "showSchedule">
        <div id="class-schedule-list">
            {% if user.is_authenticated %}
                <div id="schedule-list">
                    {% if user.schedule.all|length > 0 %}
                    <p>
                        <button class='btn btn-dark'  type='button' data-target='#clist' data-toggle='collapse'>
                            My Classes
                        </button>
                    </p>
                        <script>
                            editSchedule = function(e) {
                                e.preventDefault();

                                console.log("Editing classes");
                                $.ajax({
                                    url: $(this).attr('action'),
                                    method: $(this).attr('method'),
                                    data: $(this).serialize(),
                                    success: function(data){
                                        $('#schedule-list').html(data)
                                    }
                                });
                            }
                        </script>
                        <div class='collapse' id='clist'>
                            <ul class='list-group'>
                                {% for class in user.schedule.all %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{class}}
                                        <form id="remove-class-form-{{ forloop.counter0 }}" action="{% url 'map:removeClass' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="class-id" value="{{class.class_number}}">
                                                    <a class="btn btn-danger " href="#" onclick="$('#remove-class-form-{{ forloop.counter0 }}').submit();" type="submit">Remove</a>
                                            <script>
                                                    $('#remove-class-form-{{ forloop.counter0 }}').on('submit', editSchedule);
                                            </script>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p><b>You haven't added any classes to your schedule yet.
                        Search for the course number or name below.
                        </b>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div id="schedule-instructions">
            <b>
                To display information about each location on the map, left click its marker.
                To remove a marker, right click on it.
                Use the search box below to search for classes or locations around UVA.
            </b>
        </div>

        <div id="search-div">
            <!-- Builds from the ScheduleForm class -->
            <form id="search-form" action="{% url 'map:search' %}" id="location-search" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Search</button>
                <button type="reset" class="btn btn-secondary" onclick="document.getElementById('id_search').value = ''">Clear</button>
                <div class="text-center" id = "spinner">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <!-- From: https://stackoverflow.com/questions/17599035/django-how-can-i-call-a-view-function-from-template-->
                <!-- Using AJAX to load the data without refreshing the page -->
                <script>
                    $("#spinner").hide(); //Hides spinner before anything happens
                    // This will pass the form action and hopefully reload the results div with the results
                    $(function(){
                         $('#search-form').on('submit', function(e){
                             e.preventDefault();

                             $.ajax({
                                 url: $(this).attr('action'),
                                 method: $(this).attr('method'),
                                 data: $('form').serialize(), // serialize converts the form inputs into the url
                                 success: function(data){$('#results').html(data) }
                             });
                         });

                        //https://stackoverflow.com/questions/2275342/jquery-ajaxstart-doesnt-get-triggered
                        $(document).ajaxStart(function(){
                            console.log("loading");
                            $("#spinner").remove("invisible");
                            $("#spinner").show();

                        });
                        $(document).ajaxStop(function() {
                          $("#spinner").hide();
                          $("#st-tree-container").show();
                        });
                         $('form').on('reset', function(e){
                             e.preventDefault();

                             $.ajax({
                                 success: function(data){
                                    $('#results').html('')
                                 }
                             });

                         });
                    });
                </script>
            </form>
        </div>



        <!-- To be overwritten by the search function-->
        <div id="results"></div>
    </div>
<!--    <h3>Host your own event</h3>-->
<!--    {% if user.is_authenticated %}-->
<!--        <div id="make-event-modals">-->
<!--            &lt;!&ndash; From Bootstrap's docs &ndash;&gt;-->
<!--            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makeEventModal">-->
<!--              Create Event-->
<!--            </button>-->
<!--            &lt;!&ndash; Modal &ndash;&gt;-->
<!--            <div class="modal fade" id="makeEventModal" tabindex="-1" role="dialog" aria-labelledby="makeEventModalCenterTitle" aria-hidden="true">-->
<!--              <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                <div class="modal-content">-->
<!--                  <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLongTitle">Create New Event</h5>-->
<!--                  </div>-->
<!--                      <form action="{% url 'map:makeEvent' %}" id="make-event-form" method="post">-->
<!--                          {% csrf_token %}-->
<!--                          <div class="modal-body">-->
<!--                              <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">-->
<!--                                Title<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="title" maxlength="50" class="textinput textInput form-control" required="" id="id_title"> </div> </div> <div id="div_id_location" class="form-group"> <label for="id_location" class=" requiredField">-->
<!--                                Location<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="location" maxlength="200" class="textinput textInput form-control" required="" id="id_location"> </div> </div> <div id="div_id_date" class="form-group"> <label for="id_date" class=" requiredField">-->
<!--                                Date<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="date" class="datetimeinput form-control" required="" id="id_date"> </div> </div> <div id="div_id_capacity" class="form-group"> <label for="id_capacity" class=" requiredField">-->
<!--                                Capacity<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="capacity" min="0" class="numberinput form-control" required="" id="id_capacity"> </div> </div> <div id="div_id_description" class="form-group"> <label for="id_description" class=" requiredField">-->
<!--                                Description<span class="asteriskField">*</span> </label> <div class=""> <textarea name="description" cols="40" rows="10" style="height: 100px;" maxlength="200" class="textarea form-control" required="" id="id_description"></textarea> </div> </div>-->
<!--                          </div>-->
<!--                          <div class="modal-footer">-->
<!--                              <button type="submit" class="btn btn-success" >Create Event</button>-->
<!--                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--                          </div>-->
<!--                          <script>-->
<!--                              $('#make-event-form').on('submit', function(e) {-->
<!--                                  e.preventDefault();-->

<!--                                  console.log("Make new event fired");-->
<!--                                  $.ajax({-->
<!--                                      url: $(this).attr('action'),-->
<!--                                      method: $(this).attr('method'),-->
<!--                                      data: $(this).serialize(),-->
<!--                                      success: function(data){-->
<!--                                        // Close the form modal-->
<!--                                        $('#makeEventModal').modal('toggle');-->
<!--                                        // Display the result modal-->
<!--                                        $('#result-modal-text').html(data);-->
<!--                                        $('#resultModal').modal('toggle');-->
<!--                                      }-->
<!--                                  });-->
<!--                              });-->
<!--                          </script>-->
<!--                      </form>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Second Modal to give the user the results of the form &ndash;&gt;-->
<!--            <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">-->
<!--              <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                  <div class="modal-header">-->
<!--                    <div class="modal-title" id="result-modal-text">-->
<!--                        &lt;!&ndash; Replaced by the results of the make event form &ndash;&gt;-->
<!--                    </div>-->
<!--                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                      <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <script>-->
<!--            // Updates the event list after creating the new event-->
<!--            $('#resultModal').on('hide.bs.modal', function(e){-->
<!--                $.ajax({-->
<!--                    url: {% url 'map:eventList' %},-->
<!--                    method: 'GET',-->
<!--                    success: function(data){-->
<!--                        console.log('Updated Event list');-->
<!--                        $('#events-list').html(data);-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        </script>-->

<!--    {% else %}-->
<!--        <p>Need to be logged in to make an event</p>-->
<!--    {% endif %}-->

<!--    <h1>Events</h1>-->
<!--    <p>Click to show public events hosted by you and others</p>-->
<!--    {% if user.is_authenticated %}-->
<!--        <div id="events-list">-->
<!--            <p>-->
<!--                <button class='btn btn-dark'  type='button' data-target='#elist' data-toggle='collapse'>-->
<!--                    Events-->
<!--                </button>-->
<!--            </p>-->
<!--            <div class='collapse' id='elist'>-->
<!--                {% if eventsList %}-->
<!--                <script>-->
<!--                        addAttendee = function(a) {-->
<!--                            a.preventDefault();-->

<!--                            console.log("User would like to attend event");-->
<!--                            $.ajax({-->
<!--                                url: $(this).attr('action'),-->
<!--                                method: $(this).attr('method'),-->
<!--                                data: $(this).serialize(),-->
<!--                                success: function(data){-->
<!--                                    $('#events-list').html(data)-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                        cancelAttendee = function(a) {-->
<!--                            a.preventDefault();-->

<!--                            console.log("User would like to cancel attending event");-->
<!--                            $.ajax({-->
<!--                                url: $(this).attr('action'),-->
<!--                                method: $(this).attr('method'),-->
<!--                                data: $(this).serialize(),-->
<!--                                success: function(data){-->
<!--                                    $('#events-list').html(data)-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                        cancelEvent = function(a) {-->
<!--                            a.preventDefault();-->

<!--                            console.log("User would like to cancel hosting event");-->
<!--                            $.ajax({-->
<!--                                url: $(this).attr('action'),-->
<!--                                method: $(this).attr('method'),-->
<!--                                data: $(this).serialize(),-->
<!--                                success: function(data){-->
<!--                                    $('#events-list').html(data)-->
<!--                                }-->
<!--                            });-->
<!--                        }-->
<!--                    </script>-->
<!--                    <ul class='list-group'>-->
<!--                        {% for e in eventsList%}-->
<!--                        <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                            <p>Title: {{e.title}}</p>-->
<!--                            {% if user == e.host %}-->
<!--                            <p>Host: You </p>-->
<!--                            {% else %}-->
<!--                            <p>Host: {{e.host}}</p>-->
<!--                            {% endif %}-->
<!--                            <p>Location: {{e.location}}</p>-->
<!--                            <span class="badge badge-primary badge-pill" id = "number-of-attendees">{{e.numberOfAttendees}}</span>-->
<!--                            {% if e.host == user %}-->
<!--                                <form id="remove-event-{{ forloop.counter0 }}" action="{% url 'map:removeEvent' %}" method="post">-->
<!--                                    {% csrf_token %}-->
<!--                                    <input type="hidden" name="event" value="{{e.id}}">-->
<!--                                            <a class="btn btn-danger" href="#" onclick="$('#remove-event-{{ forloop.counter0 }}').submit();" type="submit">Cancel</a>-->
<!--                                    <script>-->
<!--                                            $('#remove-event-{{ forloop.counter0 }}').on('submit', cancelEvent);-->
<!--                                    </script>-->
<!--                                </form>-->
<!--                            {% elif e in user.attendees.all%}-->
<!--                                <form id="cancel-event-{{ forloop.counter0 }}" action="{% url 'map:cancelEvent' %}" method="post">-->
<!--                                    {% csrf_token %}-->
<!--                                    <input type="hidden" name="event" value="{{e.id}}">-->
<!--                                            <a class="btn btn-danger" href="#" onclick="$('#cancel-event-{{ forloop.counter0 }}').submit();" type="submit">Don't Attend</a>-->
<!--                                    <script>-->
<!--                                            $('#cancel-event-{{ forloop.counter0 }}').on('submit', cancelAttendee);-->
<!--                                    </script>-->
<!--                                </form>-->
<!--                            {% else %}-->
<!--                            <form id="attend-event-{{ forloop.counter0 }}" action="{% url 'map:attendEvent' %}" method="post">-->
<!--                                {% csrf_token %}-->
<!--                                <input type="hidden" name="event" value="{{e.id}}">-->
<!--                                        <a class="btn btn-success" href="#" onclick="$('#attend-event-{{ forloop.counter0 }}').submit();" type="submit">Attend</a>-->
<!--                                <script>-->
<!--                                        $('#attend-event-{{ forloop.counter0 }}').on('submit', addAttendee);-->
<!--                                </script>-->
<!--                            </form>-->
<!--                            {% endif %}-->

<!--                        </li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->
<!--                {% else %}-->
<!--                    No events yet...-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    {% else %}-->
<!--        <p>Need to be logged in to see events</p>-->
<!--    {% endif %}-->
{%endblock%}
