<!-- Display a list of the results -->
<ul class="list-group">
    {% for r in results %}
        <a id="search-result" href="#" class="list-group-item list-group-item-action">{{ r.name }}</a>
        <script>
            $('#search-result').on('click', function(e){
                console.log("Pin button clicked");
                console.log({{ r.coordinates }});

                  // make a marker for each feature and add to the map
                  var marker = new mapboxgl.Marker()
                    .setLngLat({{ r.coordinates }})
                    .addTo(map);

                  allMarkers.push(marker);
            });
        </script>
    {% endfor %}
</ul>

<div id="remove-markers" >
    <button id="remove-button" class="btn btn-primary">Remove All Markers</button>

    <script>
        $('#remove-button').on('click', function(e){
            console.log("Pin button clicked");

            // Remove all markers
            while (allMarkers.length > 0) {
                  allMarkers[0].remove();
                  allMarkers.shift();
            }
        });
    </script>
</div>