{% if user.schedule.all|length > 0 %}
<ul class='list-group'>
    {% for class in user.schedule.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{class}}
            <form id="remove-class-form-{{ forloop.counter0 }}" action="{% url 'map:removeClass' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="class-id" value="{{class.class_number}}">
                        <a class="btn btn-danger " href="#" onclick="$('#remove-class-form-{{ forloop.counter0 }}').submit();" type="submit">Remove</a>
                <script>
                        $('#remove-class-form-{{ forloop.counter0 }}').on('submit', editSchedule);
                </script>
            </form>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p><b>You haven't added any classes to your schedule yet.
    Search for the course number or name below.
    </b></p>
{% endif %}